---
export const prerender = false;
import Layout from "../layouts/Layout.astro";

const db = Astro.locals.runtime.env.db;

const result = await db
  .prepare("SELECT DATETIME('now', 'localtime') as db")
  .first();
---

<Layout title="" description="">
  <div class="container">
    <h1></h1>
  </div>
  <div class="container pt-4">
    <p>{result?.db}</p>
  </div>
</Layout>
